#barChart {
    font-size: 20px;
}

.bar {
    fill: steelblue;
}

    .bar:hover {
        fill: brown;
    }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
